body {
	margin: 0;
	padding: 0;
	font-family: 'microsoft yahei';
}
#app{
	max-width: 960px;
	margin: 0 auto;
}
.fa-link{
    background: #00bcd4;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    padding: 5px;
    top: 8px !important;
}
.loading{
    display: block;
    text-align: center;
    padding: 5em 0;
}